* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
   width: 80%;
    margin: 0 auto;
      background-color: rgb(252, 129, 120);

}

h1 {
  color: #fff7e5;
  text-align: center;

  
}
p {
  text-align: center;
}

img {
  width: 300px;
  border-radius: 40px;
  align-items: center;
  box-shadow: #333 2px;
  display: block;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

input{
    width: 130px;
    padding: 5px;
box-shadow: #f0f0f0 3px;
border-radius: 5px;
border:1px solid black ;
background-color: rgb(255, 209, 83);
display: block;
justify-content: center;
margin: auto;
margin-top: 10px;
}
