* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

img {
    width: 500px;
    border-radius: 50%;
}